{% extends 'base.html' %}
{% block content %}
<div id="melon-list" class="my-5">
    <div class="card details text-center ">
        <div div class="card-body">
            <img class="melon-image card-img-top" src="{{ melon.image_url }}">
            <h3 class="card-title">{{ melon.common_name }}</h3>
            <p class="card-text">Color: {{ melon.color }}</p>
            {% if melon.seedless %}
                <p class="card-text">Seedless melon</p>
            {% else %}
                <p class="card-text">Warning! This melon has seeds</p>
            {% endif %}
            <p class="card-text">Price per melon: {{ melon.price_str() }}</p>
            <a class="btn btn-primary" href="{{ url_for('add_to_cart', melon_id=melon.melon_id) }}">Add to Cart</a>
        </div>
    </div>
</div>

{% endblock %}
